*{
margin: 0px;

}
header{
    height: 20%;
    background-color: #000000;
    color: #ffffff;
    font-size: 90PX;
    text-align:center;

}
.game{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    object-fit: contain; /* garantindo que as imagens sejam contidas dentro da div*/

}
.mensagem{

    display: none;
    width: 80%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: white solid 2px;
    border-radius: 15px; 
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter : blur(0px);
    
}
.mensagem h1{
   font-family:cursive, 'Dosis', sans-serif;
   color: white;
   font-size: 80px;

}
#mensagem h4{
    font-family:cursive, 'Dosis', sans-serif;
    color: white;
    font-size: 30px;
 
 }
 #mensagem button{
    display: none;
    font-family:cursive, 'Dosis', sans-serif;
    color: white;
    background-color: #000000;
    font-size: 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
 
 }
 @media only screen and (max-width: 600px){

    .game{
        height: 80vh;
    }
    .player{
        height: 100%;

    }
    .enemy{
        height: 100%;

    }
    .mensagem{
        height: 30%;
      text-align: center;
    }
    .mensagem h1{
        font-size: 40px;
     
     }
     #mensagem h4{
         font-size: 18px;
      
      }
      #mensagem button{
         font-size: 30px;
    
      }
 }
.player{
    width: 100%;
    height: 100%;
    background-color: rgb(11, 33, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  
}
.enemy{
    width: 100%;
    height: 100%;
    background-color: rgb(216, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
.player img:hover{
cursor: pointer;
box-shadow: #000000 1px 1px 20px;


}
img{
    width: 175px;
    height: auto; /* garantindo que a altura seja proporcional a largura */
    object-fit: contain; /* garantindo que as imagens sejam contidas dentro da div*/
    margin-top: 5px;
  }
