body{
    background-color: black;

}
canvas {
	margin: 0 auto;
	text-align: center;
    width: 100% ;
}
.container-button{
    width: 100% ;
    display: flex;
    justify-content: center;
}
button {
    box-sizing: border-box;
	text-align: center;
	border: 0;
	background-color: #004c79;
    border-radius: 120px;
	padding: 20px 20px;
	color: white;
	font: 9vw Arial;
    cursor: pointer;
 
}
button:hover{
    background-color: #012941;
}